<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.appvillis.assistant_core.MainActivity" android:exported="false"/>
        <activity android:name="com.appvillis.assistant_core.InChatMainActivity" android:exported="false"/>
        <activity android:name="com.appvillis.assistant_core.PopupActivity" android:exported="false"/>
        <activity android:name="com.appvillis.feature_nicegram_client.presentation.onboarding.NicegramOnboardingActivity" android:exported="false"/>
        <activity android:name="com.appvillis.feature_nicegram_client.presentation.premium.NicegramPremiumActivity" android:exported="false"/>
    </application>
</manifest>
